.wrapper {
  width: auto;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  width: auto;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .incomeDescription {
    width: 50%;
    padding: 1%;
    display: flex;
    align-items: center;

    span {
      font-size: 24px;
      padding-right: 5%;
    }

    input {
      width: 64%;
      height: 40px;
      margin-left: 40px;
      font-size: 18px;
      color: #000;
      border: none;
    }
  }

  .leftContainer {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 1%;

    span {
      font-size: 24px;
    }

    input {
      width: 65%;
      height: 40px;
      margin-left: 20px;
      font-size: 18px;
      color: #000;
      border: none;
    }

    input:focus {
      outline: none;
    }
  }
  button {
    width: 100px;
    height: 40px;
    margin-right: 80px;
  }
}
