.wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  width: 100%;
  max-width: 50%;
  height: fit-content;
  margin-left: 10px;
  margin-right: 20px;

  .leftContainer {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000;
    background-color: dodgerblue;
    color: #fff;
    font-size: 18px;
    font-weight: 450;
    padding: 1%;
  }

  .rightContainer {
    font-size: 18px;
    font-weight: 450;
    padding: 0 3%;
  }
}
